:root{
    --mainTheme: #0E479E;
    --secondTheme: #4D96EA;
    --headerBar: #CDCDCD;
    --buttonColor: #0A397D;
    --listColor: #75AAE5;
    --itemInList: rgba(217,217,217, 0.3);
    --elementsInList: rgba(217,217,217, 0.5);
    --nameOfBoard: #898989;
    --menuButtons: #999999;
    --menuButtonsHover: #b3b3b3; 
    --sidePanel: #1671FA;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--secondTheme);
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 25%;
    min-height: 65%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.labels{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 10px;
}

.labels > label{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 1.3rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.inputs > input{
    height: 44px;
    margin-top: 10px;
    width: 190px;
    padding-left: 10px;
    font-size: 1.2rem;
}

.inputsWrapper{
    display: flex;
    height: auto;
    justify-content: center;
    width: 100%;
}

.formHeader{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 50px;
}

.formHeader > p{
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}

.buttonWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

button[type="submit"]{
    width: 60%;
    height: 60px;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    background-color: var(--secondTheme);
    color: white;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: #69afff;
}

button[type="submit"]:active{
    transform: scale(.95);
    transition: .3s;
}

.sendToLogin{
    margin-top: 30px;
}

.sendToLogin > span > a{
    font-weight: 600;
}

.wrong{
    background-color: #F55140;
}

.home{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    background-color: inherit;
    cursor: pointer;
    border: none;
}

.home > i{
    font-size: 30px;
    color: white;
}

.home:hover > i{
    color: rgba(255, 255, 255, 0.5);
}